.dates-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 1.5rem;
}

.card-header .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.card-header .subtitle {
    font-size: 1rem;
    color: var(--color-text-secondary);
    margin-bottom: 1rem;
}
