.card-header .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.card-header .subtitle {
    font-size: 1rem;
    color: var(--color-text-secondary);
    margin-bottom: 10px;
}

.fields-row {
    display: flex;
    gap: 16px;
}

.fields-row app-input-field {
    flex: 1;
}
