<app-card-page-layout
    heading="Create your Arc"
    subtitle="Define a goal and time span to start tracking your focus."
    wide
>
    <app-arc-creation-stepper slot="stepper" [activeStep]="2" />
    <div class="card-header">
        <h2 class="title">Set up your routine</h2>
        <p class="subtitle">Add recurring tasks that repeat inside your arc. You can always edit these later.</p>
    </div>

    <div class="task-form-card">
        <span class="task-counter">New task ({{tasks().length}} / {{MAX_NUMBER_OF_TASKS}})</span>

        <div class="fields-row">
            <app-input-field
                label="Task name"
                type="text"
                placeholder="e.g Morning run, Deep work block..."
                [value]="taskName()"
                [error]="taskNameError()"
                (valueChange)="taskName.set($event)"
                [maxLength]="FIELD_LIMITS.TASK_NAME"
            />

            <app-tag-selector
                [selectedTag]="selectedTag()"
                (tagChange)="selectedTag.set($event)"
            />
        </div>

        <app-arc-task-recurrence />

        <div class="add-task-row">
            <app-primary-btn (click)="addTask($event)" [disabled]="tasks().length === MAX_NUMBER_OF_TASKS">
                <mat-icon>add</mat-icon>
                Add task
            </app-primary-btn>
        </div>
    </div>

    @if (tasks().length > 0) {
        <div class="task-list">
            @for (task of tasks(); track task.id) {
                <div class="task-card" [style.border-left-color]="task.tag ? tagColor(task.tag.color) : null">
                    <div class="task-info">
                        <span class="task-name">{{ task.name }}</span>
                        <div class="task-meta">
                            <span class="task-summary">{{ taskSummary(task) }}</span>
                            @if (task.tag) {
                                <app-tag-pill [tag]="task.tag"/>
                            }
                        </div>
                    </div>
                    <button class="task-remove" (click)="removeTask(task.id)">✕</button>
                </div>
            }
        </div>

        <app-week-schedule [tasks]="tasks()" />
    }
    <div class="button-container">
        <app-primary-btn ghost>Skip</app-primary-btn>
        @if (tasks().length > 0) {
            <app-primary-btn (click)="goToNextStep()">
                Go to dashboard
            </app-primary-btn>
        }
    </div>
</app-card-page-layout>
