CORS_ALLOWED_ORIGINS=http://localhost:4200
JWT_SECRET=focusarc-super-secret-key-change-in-prod-256bit!!
MONGODB_URI=mongodb://admin:admin123@localhost:27017/focusarc?authSource=admin
GOOGLE_CLIENT_ID=468172227016-rb385r55f5hlm995o0mnfg2ldj7s85jl.apps.googleusercontent.com
COOKIE_SECURE=false
COOKIE_SAME_SITE=Strict