.layout {
    background-color: var(--color-bg);
}

.main-content {
    flex: 3;
    padding: 40px 36px;
    overflow-y: auto;
}

.sidebar {
    flex: 1;
    min-width: 330px;
    padding: 20px 16px 20px 0;
    overflow-y: auto;
}

@media (max-width: 1000px) {
    .main-content {
        padding: 24px 16px;
    }
    .sidebar {
        padding: 16px 8px 16px 0;
    }
}

@media (max-width: 768px) {
    .sidebar {
        padding: 6px 8px;
    }
    .main-content {
        padding: 6px 8px;
    }
}
