<div>
    <div>
        <h1 class="today-title">Today - {{ todayDate() }}</h1>
        @if (chapterSummary()) {
            <div class="today-subtitle">
                <span>{{ getPlannedTime() }} planned</span>
                <span>•</span>
                <span>{{tasks().length}} tasks</span>
                @if (getNumberOfCompletedTasks > 0) {
                    <span>•</span>
                    <span class="completed-tasks">{{getNumberOfCompletedTasks}} completed</span>
                }
            </div>
        }
    </div>
    @if (activeTask()) {
        <app-dashboard-task-timer [task]="activeTask()!" (done)="onTaskDone($event)" />
    }
    <div class="task-list-card">
        @for (task of tasks(); track task.id) {
            <app-task-info-dashboard [task]="task">
                @if (canStartTask(task)) {
                    <app-primary-btn (click)="setActiveTask(task)">Start</app-primary-btn>
                }
            </app-task-info-dashboard>
            <div class="task-divider"></div>
        }
        <app-task-creation (taskCreated)="onTaskCreated()" [shouldCreateChapter]="tasks().length === 0"/>
    </div>
</div>
