<div>
    <span>
        <button mat-icon-button (click)="expandChapter()">
            @if (isChapterExpanded) {
                <mat-icon>keyboard_arrow_down</mat-icon>
            } @else {
                <mat-icon>keyboard_arrow_right</mat-icon>
            }
        </button>
        {{ formatDate(chapter.scheduledDate) }}
    </span>
    @if (isChapterExpanded) {
        @for (task of tasks(); track task.id) {
            <app-task-info [task]="task" [tag]="tagStore.byId(task.tagId)!"/>
        }
    }
</div>
